<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo"> <span>MyStore</span></a>
  </div>

  <ul class="navbar-links">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Products
      </a>
    </li>
    <li>
      <a routerLink="/cart" routerLinkActive="active">
         Cart <span class="cart-count">({{ cartCount }})</span>
      </a>
    </li>
    <li>
      <a routerLink="/checkout" routerLinkActive="active">
        Checkout
      </a>
    </li>
  </ul>
</nav>
